body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    height: 100vh;
    background-color: #5e3773;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.info-container {
    height: 100vh;
}