@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.sidebar {
    height: 65vh;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
    margin: 8vh 5vh 0 35vh;
    background-color: #c0e3e7;
}

.info-container {
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 5vh 5vh 0 5vh;
}

.profile-frame {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.inner-frame {
    width: 200px;
    height: 200px;
}

.outter-frame {
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.profile-frame > img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.menu-items-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.title-container {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
}

.name-container {
    font-size: 175%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.job-container {
    color: #929fa1;
    font-family: 'Raleway', sans-serif;
    font-size: 110%;
}

.social-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vh;
    padding-top: 2vh;
}

.social-container img {
    width: 3vh;
}