body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.4);
}

.info-container {
    height: 100vh;
}

.profile-container {
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.profile-background {
    position: absolute;
    background-color: #5e3773;
    height: 70%;
    width: 100%;
    top: 0;
    left: 0;
}

.profile-frame {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.inner-frame {
    width: 200px;
    height: 200px;
}

.outter-frame {
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.profile-frame > img {
    display: inline;
    margin: 0 auto;
    width: 100%;
    height: auto;
}